* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url('/static/images/background.jpg');
}

nav {
  max-width: 100%;
  padding: 0 25px;
  background-color: #505050;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: #03B5AA;
  font-size: 20px;
  align-self: center;
}

.brand {
  padding-left: 25px;
  justify-self: left;
}

.btn {
  text-align: center;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition-duration: 0.6s;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation a {
  display: block;
  padding: 20px;
}

.navigation a:hover {
  background-color: #1d9375;
  color: #dbfe87;
}

.btn-primary {
  background: #1d9375;
  color: #dbfe87;
  border: 2px solid #1d9375;
}

.btn-primary:hover {
  background: #dbfe87;
  color: #1d9375;
  border: 2px solid #1d9375;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #505050;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #03B5AA;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #1d9375;
  color: #dbfe87;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 7);
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
  justify-content: space-between;
}

.align {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h1 {
  text-align: center;
  color: #1d9375;
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.download {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  text-align: center;
  padding-left: 4em;

}

form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  text-align: center;
  padding-left: 2em;
}

.download a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #505050;
  padding: 10px;
  margin-bottom: 10px;
  width: 400px;
  font-size: large;

}

.download a:hover {
  background-color: #1d9375;
  color: #dbfe87;
}

#submitButton {
  display: block;
  width: 30%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  color: #dbfe87;
  background-color: #1d9375;
  border-color: #03B5AA;
  min-width: 300px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#submitButton:hover {
  background-color: #dbfe87;
  color: #1d9375;

}

form input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

form label {
  display: flex;
  align-items: center;
  color: #505050;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
}

form span {
  margin-left: 10px;
}

form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #2ecc71;
  color: #505050;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form label:hover {
  background-color: #1d9375;
  color: #dbfe87;
}

#fileName {
  font-size: large;
}

#deleteButton {
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background: none;
  padding: 20px;
  margin: 0 auto;
  font-size: small;
}