<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/dashboard.css') }}">
</head>

<body>
  <header>
    <nav>
      <div class="brand">
        <a href="/"><img src="static/images/logo1.png" alt="" width="120px" /></a>
      </div>
      <div class="navbar-pages">
        <ul class="navigation">
          <li><a href="/">Homepage</a></li>
          <li><a href="calendar">Venue Calendar</a></li>
          <li><a href="venuesettings">Modify Venue</a></li>
          <li class="dropdown">
            <a class="dropbtn">Add Game</a>
            <div class="dropdown-content">
              <a href="addfile">Add File</a>
              <a href="fillform">Fill Form</a>
            </div>
          </li>
          <li><a href="dashboard">Dashboard</a></li>
          <li><a href="optimize">Optimize</a></li>
        </ul>
      </div>
      <div>
        {% if 'logged_in' in session %}
        <a class="btn btn-primary" href="{{ url_for('views.logout') }}">Logout</a>
        {% else %}
        <a class="btn btn-primary" href="{{ url_for('views.login') }}">Login</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <div class="container">
    <div id="title">
      <h1>VENUE DASHBOARD</h1>
    </div>

    <div class="column">
      <div id="dropdown">
        <form action="{{ url_for('views.dashboard_venue_selection') }}" method="post">
          <select id="dropdown" name="selected_venue" onchange="submitForm()" style="background-color: white;">
              <option value="" selected disabled>Select A Venue</option>
              {% for venue in venue %}
              <option value="{{ venue.venue_name }}" {% if selected_venue==venue.venue_name %}selected{% endif
                  %}>{{ venue.venue_name }}</option>
              {% endfor %}
          </select>
      </form>
      <script>
          function submitForm() {
              document.forms[0].submit();
          }
      </script>
      </div>
      <div class="venue_info">
        <h2>{{selected_venue}}</h2>
        <p>{{selected_venue}}'nda oynanan maçlarının analiz raporu aşağıda yer almaktadır.</p>
      </div>
    </div>
   
    <br>
    <hr>
    <br>
    <div class="first-row">
   
        <div class="card200x200">
          <div class="card-header">
            <label class="header-content">Toplam Oynanan Maç</label>
          </div>
          <div class="card-content">
            <h1>555</h1>
          </div>
        </div>

        <div class="card200x200">
          <div class="card-header">
            <label class="header-content">Bu Ay Oynanan Maç</label>
          </div>
          <div class="card-content">
            <h1>-</h1>
          </div>
        </div>

        <div class="card200x200">
          <div class="card-header">
            <label class="header-content">Buralara Ne</label>
          </div>
          <div class="card-content">
            <h1>23</h1>
          </div>
        </div>

        <div class="card200x200">
          <div class="card-header">
            <label class="header-content">Yazıcam Bilemedim</label>
          </div>
          <div class="card-content">
            <h1>68</h1>
          </div>
        </div>

      </div>

  <div class="second-row"> 
       
        <div class="card800x300">
          <div class="card-header">
            <label class="header-content">Sessiz Gemi</label>
          </div>
          <div class="card-content">
            <p>Artık demir almak günü gelmişse zamandan<br>
              Meçhule giden bir gemi kalkar bu limandan.<br>
              
              Hiç yolcusu yokmuş gibi sessizce alır yol; <br>
              Sallanmaz o kalkışta ne mendil, ne de bir kol.<br>
              
              Rıhtımda kalanlar bu seyahatten elemli, <br>
              Günlerce siyah ufka bakar gözleri nemli, <br>
              
              Biçare gönüller! Ne giden son gemidir bu! <br>
              Hicranlı hayatın ne de son matemidir bu.<br>
              
              Dünyada sevilmiş ve seven nafile bekler; <br>
              Bilmez ki giden sevgililer dönmeyecekler.<br>
              
              Bir çok gidenin her biri memnun ki yerinden, <br>
              Bir çok seneler geçti; dönen yok seferinden.<br>
              </p>
          </div>
        </div>

        <div class="card200x300">
          <div class="card-header">
            <label class="header-content" >En Fazla Oynayan Takımlar</label>
          </div>
          <div class="card-content">
            <p>Ölüm, ölüm dediğin nedir ki gülüm, ben senin için yaşamayı göze almışım.</p>
          </div>
        </div>
  
  </div>

  <div class="third-row">

    <div class="card500x300">

      
      <div class="card-header" style="background-color: #fb090b; color: black ;">
        <label class="header-content" style="font-size: 22px; font-weight: bold;">Efsane Milan Kadrosu</label>
      </div>
      <div class="card-content">
        <p>
          Dida <br>
          <br>Cafu&emsp;&emsp;&emsp;Nesta&emsp;&emsp;Stam&emsp;&emsp;&emsp;Maldini <br>
          <br> Gattuso&emsp;&emsp;Pirlo&emsp;&emsp;Seedorf <br>
          <br>  Kaka<br>
          <br>Inzaghi/Crespo&emsp;&emsp;&emsp;Shevchenko.
        </p>
      </div>

    </div>

    <div class="card500x300">
      
      <div class="card-header">
        <label class="header-content">Yengeç Burger Tarifi</label>
      </div>
      <div class="card-content">
        <p>
          680 gr karides/yengeç eti,1 yumurta,Galeta unu ya da emek kırıntısı. <br>      
          8 adet hamburger ekmeği.Limon kabuğu rendesi <br> 
          Çeşni:        
          <li> 1 T.K tatlı biber tozu</li>
          <li> 1 T.K tuz</li>
          <li> 1 T.K karabiber</li>
          <li> 1 T.K kırmızı biber</li>
          <li> 1 Y.K acı sos</li>
          Sıvı yağ<br>
          4 adet marul yaprağı,4 dilim domates <br>
          Soğan turşusu,Ketçap,Mayonez,Tartar sos <br>
          Hamburger ekmeği, marul, sıvı yağ, domates, turşu, ketçap, mayonez ve tartar sos dışındaki malzemeleri mutfak robotunda iyice karıştırın. Köfteleri yapıp sıvı yağda kızartın. Daha sonra hamburger ekmeğine sosları ve kalan malzemeleri koyun.</p>
      </div>

    </div>
  </div>

  </div>

  </div>
  
</body>

</html>