<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/dashboard.css') }}">
</head>

<body>
  <header>
    <nav>
      <div class="brand">
        <a href="/"><img src="static/images/logo1.png" alt="" width="120px" /></a>
      </div>
      <div class="navbar-pages">
        <ul class="navigation">
          <li><a href="/">Homepage</a></li>
          <li><a href="calendar">Venue Calendar</a></li>
          <li><a href="venuesettings">Modify Venue</a></li>
          <li class="dropdown">
            <a class="dropbtn">Add Game</a>
            <div class="dropdown-content">
              <a href="addfile">Add File</a>
              <a href="fillform">Fill Form</a>
            </div>
          </li>
          <li><a href="dashboard">Dashboard</a></li>
          <li><a href="optimize">Optimize</a></li>
        </ul>
      </div>
      <div>
        {% if 'logged_in' in session %}
        <a class="btn btn-primary" href="{{ url_for('views.logout') }}">Logout</a>
        {% else %}
        <a class="btn btn-primary" href="{{ url_for('views.login') }}">Login</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <div class="container">
    <div id="title">
      <h1>VENUE DASHBOARD</h1>
    </div>
    <div id="dropdown">
      <form action="{{ url_for('views.dashboard_venue_selection') }}" method="post">
        <select id="dropdown" name="selected_venue" onchange="submitForm()" style="background-color: white;">
            <option value="" selected disabled>Select A Venue</option>
            {% for venue in venue %}
            <option value="{{ venue.venue_name }}" {% if selected_venue==venue.venue_name %}selected{% endif
                %}>{{ venue.venue_name }}</option>
            {% endfor %}
        </select>
    </form>
    <script>
        function submitForm() {
            document.forms[0].submit();
        }
    </script>
    </div>
    <div id="a">
      <h2>{{selected_venue}}</h2>
      <p>{{selected_venue}}'nda oynanan maçlarının analiz raporu aşağıda yer almaktadır.</p>
    </div>
    
    <div>
      <h2>Grid Item</h2>
      <p>Content for Grid Item 4 goes here.</p>
    </div>
  </div>
</body>

</html>