<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/fillform.css') }}">
</head>

<body>
  <header>
    <nav>
      <div class="brand">
        <a href="adminhome"><img src="static/images/logo1.png" alt="" width="120px" /></a>
      </div>
      <div class="navbar-pages">
        <ul class="navigation">
          <li><a href="adminhome">Homepage</a></li>
          <li><a href="#calendar">Field Calendar</a></li>
          <li><a href="fieldsettings">Modify Field</a></li>
          <li class="dropdown">
            <a class="dropbtn">Add Game</a>
            <div class="dropdown-content">
              <a href="addfile">Add File</a>
              <a href="fillform">Fill Form</a>
            </div>
          </li>
          <li><a href="dashboard">Dashboard</a></li>
        </ul>
      </div>
      <div>
        <a class="btn btn-primary" href="/">Logout</a>
      </div>
    </nav>
  </header>

  <div class="container">
    <div id="title-box">
      <h1 id="title">ADD GAME PLAN</h1>
    </div>
    <form id="game-form" action="/submit" method="post">

      <fieldset>
        <h2>HOME TEAM</h2>
        <label for="home_team"></label>
        <select name="home_team" id="home_team">
          <option value="" selected disabled>Select Home Team</option>
          {% for team in team %}
          <option value="{{ team.id }}">{{ team.team_name }}</option>
          {% endfor %}
        </select>
      </fieldset>

      <fieldset>
        <h2>AWAY TEAM</h2>
        <label for="away_team"></label>
        <select name="away_team" id="away_team">
          <option value="" selected disabled>Select Away Team</option>
          {% for team in team %}
          <option value="{{ team.id }}">{{ team.team_name }}</option>
          {% endfor %}
        </select>
      </fieldset>

      <input id="submit" type="submit" value="SUBMIT" /></input>
    </form>

    <script>
      function validateForm() {
        var homeTeam = document.getElementById("home_team").value;
        var awayTeam = document.getElementById("away_team").value;

        if (homeTeam === awayTeam) {
          alert("Home team and away team cannot be the same.");
          return false;
        }

        if (homeTeam === "" || awayTeam === "") {
          alert("Please select both home team and away team.");
          return false;
        }

        return true;
      }
    </script>
  </div>
</body>

</html>