<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Optimize Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/optimize_styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="brand">
                <a href="/"><img src="static/images/logo1.png" alt="" width="120px" /></a>
            </div>
            <div class="navbar-pages">
                <ul class="navigation">
                    <li><a href="/">Homepage</a></li>
                    <li><a href="calendar">Venue Calendar</a></li>
                    <li><a href="venuesettings">Modify Venue</a></li>
                    <li class="dropdown">
                        <a class="dropbtn">Add Game</a>
                        <div class="dropdown-content">
                            <a href="addfile">Add File</a>
                            <a href="fillform">Fill Form</a>
                        </div>
                    </li>
                    <li><a href="dashboard">Dashboard</a></li>
                    <li><a href="optimize">Optimize</a></li>
                </ul>
            </div>
            <div>
                {% if 'logged_in' in session %}
                <a class="btn btn-primary" href="{{ url_for('views.logout') }}">Logout</a>
                {% else %}
                <a class="btn btn-primary" href="{{ url_for('views.login') }}">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <div class="main">
            <h1>OPTIMIZE VENUES</h1>
            <p>Select a time interval for the matches you want to assign venues.</p>

            <form id="optimize-form" action="/optimize" method="POST" enctype="multipart/form-data">
                <div id="date" class="center">
                    <div class="calendar-input">
                        <label for="startDate">START:</label>
                        <input type="date" id="startDate" name="startDate" required>
                    </div>

                    <div class="calendar-input">
                        <label for="endDate">END:</label>
                        <input type="date" id="endDate" name="endDate" required>
                    </div>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <button type="submit" id="submitButton">ASSIGN VENUES</button>
            </form>
    </main>
</body>
<script>
    document.getElementById('startDate').addEventListener('change', function () {
        var startDateValue = document.getElementById('startDate').value;
        document.getElementById('endDate').min = startDateValue;
    });
    //Set the minimum date to the current date
    document.getElementById('startDate').min = new Date().toISOString().split('T')[0];
</script>

</html>